<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://java.sun.com/xml/ns/javaee"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
http://java.sun.com/xml/ns/javaee/beans_1_0.xsd 
http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 
    
    
    <!--
    <bean id="mpBean" class="com.lrl.c1.bean.MediaplanBean"></bean>
    <bean id="agenBean" class="com.lrl.c1.bean.AgencyBean"></bean>
    <bean id="userBean" class="com.lrl.c1.bean.UserprofileBean"></bean>
-->	

</beans>



